@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gridDiv {
  background-color: #2a2a74;
  border: 1px solid black;
  box-sizing: border-box;
  aspect-ratio: 1;
}

.player_ship.reloading {
  background-color: #2a2a74;
  filter: grayscale(0.6);
}

.player_ship::after {
  position: absolute;
  left: -1px;
  top: -4px;
  right: 0;
  margin: 0 auto;
  scale: 2;
  mix-blend-mode: overlay;
  border: 1px solid #aaa3;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-image: conic-gradient(transparent 0deg,
      transparent var(--a),
      #eee2 var(--a),
      #eee2 360deg);
}

.player_ship.reloading::after {
  --a: 360deg;
  background-color: transparent;
  mix-blend-mode: normal;
  z-index: 1;
  transition: --a 1s linear;
}

.enemy_ship {
  background-color: orange;
}

.enemy_ship.shoot {
  background-color: red;
}

.enemy_ship-prepare {
  margin: 0 25%;
  bottom: 50%;
  position: absolute;
  border-radius: 8px;
  width: 50%;
  height: 100%;
  background-color: chocolate;
}

.player_ship--shadow {
  transform: scale(2);
  height: 2px;
  width: 2px;
  position: absolute;
  display: flex;
  margin-top: -8px;
  margin-left: -8px;
  justify-content: center;
}

.shoot {
  background-color: yellow;
  border-radius: 50%;
}

.enemy_shoot {
  background-color: blueviolet;
  border-radius: 20% 5% 20% 5% 20% 5% 20% 5%;
}

.enemy_ship.player_ship {
  background-color: red;
}

@keyframes advice {

  0%,
  100% {
    bottom: 100lvh
  }

  40%,
  60% {
    bottom: 60lvh
  }
}

.advice-gamer {
  margin: 0 auto;
}

.advice-gamer:not(.anim) {
  padding: .5rem 1rem;
  background-color: #464646;
  color: #646cff;
  width: fit-content;
  margin-bottom: 1rem;
}

.advice-gamer.anim {
  background-color: #2a2a74;
  padding: 2rem 4rem;
  z-index: 1000;
  pointer-events: none;

  position: absolute;
  bottom: 100lvh;
  left: 0;
  right: 0;
  animation: advice 6s ease-in-out forwards;
}